# Hugo default output directory
/public
# Track /themes but not its content
/themes
!/themes/.gitkeep

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store
/public

# vim
*.swp
*.*~
