body {
    margin-top: 110px;
    background: #000;
    color:#fff;
font-family: 'Quattrocento Sans', sans-serif;}

footer {
    margin: 50px 0;
}

#getit{
  background:#000;
  color:#fff;
}
.navbar-nav li{
    margin-top: 10px;
}

div.mirrors-list img.flag {
    float: right;
    margin-top: 1.3em;
}

.mirror_link{
    word-wrap: break-word;
}

.btn-primary {
  background: #000;
}
.jumbotron{
    background: url(../img/intro-bg.jpg);
    color: #fff;
    background-attachment: fixed;
    margin-bottom:0px;

}

.community{
  background: url(../img/community.jpg);
  background-attachment: fixed;
  color: #fff;


}


.documentation{
  background: url(../img/documentation.jpg);
  background-attachment: fixed;
  color: #fff;


}


.navbar a{
  color:#000;
}


.jumbotron p{
  /*  padding: 20px 0; */
}

.jumbotron .media{
    margin: 50px 0;
    margin-bottom:0px;
}

.jumbotron .media-body h1{
    margin-top: 40px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 110px;
  height: 110px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

div.feature-box {
    clear: both;
}

div.feature-box div.feature-box-icon {
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    background: #ffffff;
    border-radius: 35px;
    color: #52AD81;
    display: inline-block;
    float: left;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    top: 5px;
    width: 35px;
}

div.feature-box div.feature-box-info {
    padding-left: 50px;
}

div.feature-box div.feature-box-icon i.image-icon {
    position: relative;
    top: 5px;
}

div.feature-box div.feature-box-icon i.image-icon.small {
    top: 2px;
}

.features {
    padding-top: 30px;
}

.features p{
    margin: 30px 0;
}

.features .col-lg-4:first-child .icon-stack-base{
    color:#52AD81;
}

.features .col-lg-4:nth-child(2) .icon-stack-base{
    color:#CD5A48;
}

.features .col-lg-4:last-child .icon-stack-base{
    color:#51A9D6;
}
.navbar{
  background: none;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;

}

.navbar .navbar-collapse {
  text-align: center;
}

.screens {
  background: rgba(222,217,200, .85);
  padding: 30px;
  color: #000000;
}

.services {
  background: #fff;
  padding: 30px;
  color: #000000;
}

.info {
  background: #000;
  color:#fff;
}

.copyright {
  background: #000;
  font-size: small;
  color: #EEEDEC;
}

.fun_facts{
  background: #fff;
  color:#000
}

.flavour-cloud{
  background:#EBF2F2;
  color:#ADE0DB;
}
.flavour-server{
  background:#C0D5C2;
  color:#000;
}
.flavour-desktop{
  background:#9BC1C5;
  color:#000;
}
.flavour-testing{
  background:#0CAB82;
  color:#000;
}
.fun_facts .section_overlay {
/*background: rgba(44,62,80, .95); */
  padding-bottom: 30px;
}


.footer_override {
      color:#ffffff !important;
}

.well {
      background: #fff;
      color:#000;
}

.well-summary a{
  color:#000;
}

.panel .panel-heading {
      background: rgba(222,217,200, 1);
      color:#000000;
      border-color: rgba(187, 184, 180, 0.7);
}
.panel-default {
      background: #fff;
      color:#000;
      border: solid rgba(187, 184, 180, 0.7);
}
