<div class="community" style="width:100%">
    <div class="container">
        <div class="row">
            <h1 class="text-center" style="margin-top:63px;margin-bottom:52.5px;">
                Community Collaboration.
            </h1>
        </div><!-- .row -->
    </div><!-- .container -->

    <div class="container">
        <div class="row">
            <div>
                <h3 class="text-center" style="margin-top:116.2332px;">
                    Sabayon is developed with <i class="fa fa-heart" style="color:#FF4E50"></i> from people all around the world that work together.
                </h3>
                <div class="text-center h3" style="margin-top:28.6px;">
                    Be part of our family, be part of our <a href="https://forum.sabayon.org">community</a>.
                </div><!-- .text-center.h3 -->
                <div class="text-center h3" style="margin-top:57.2px;margin-bottom:139.1667px">
                    If you want to contribute, <a href="https://github.com/Sabayon/"> our code is hosted on GitHub</a>.<br />
                    If you want to support us, but you don't have time or any coding/computer skills, you can <a href="/donate"> donate </a>.
                </div><!-- .text-center.h3 -->
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .community -->


