<div class="documentation" style="width:100%">
    <div class="container">
        <div class="row">
            <h1 class="text-center" style="margin-top:42px;">Read the documentation.</h1>
        </div><!-- .row -->
    </div><!-- .container -->

    <div class="container">
        <div class="row">
            <div>
                <h3 class="text-center" style="margin-top:130px;margin-bottom:21.4333px;">
                    Check the <a href="/latest">Release Notes</a> for the version you are downloading.
                </h3>
                <div class="text-center h3" style="margin-bottom:42.8667px;">
                    For more information about <a href="https://wiki.sabayon.org/index.php?title=En:Sabayon_Linux"> Sabayon</a>, such as usage and system requirements, <a href="https://wiki.sabayon.org/index.php?title=En:FAQ#System_Requirements">read the documentation</a>.
                </div>
                <div class="text-center h3" style="margin-bottom:85px;">
                    If you feel lost after install, take a minute to read the <a href="https://wiki.sabayon.org/index.php?title=En:Entropy#Fresh_Install_-_What_to_do.3F" class="italic">"Fresh install, what now?"</a> guide to familiarize with our package manager.
                </div>
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .documentation -->
