<section>
    <h2>Our flavours</h2>
    <ul>
        <li>
            {{ with .Site.GetPage "page" "_landingpage/_flavours/desktop.md" }}
                {{ .Content }}
            {{ end }}
        </li>
        <li>
            {{ with .Site.GetPage "page" "_landingpage/_flavours/server.md" }}
                {{ .Content }}
            {{ end }}
        </li>
        <li>
            {{ with .Site.GetPage "page" "_landingpage/_flavours/cloud.md" }}
                {{ .Content }}
            {{ end }}
        </li>
        <li>
            {{ with .Site.GetPage "page" "_landingpage/_flavours/testing.md" }}
                {{ .Content }}
            {{ end }}
        </li>
    </ul>
</section>
