<section>
    {{ with .Site.GetPage "page" "_landingpage/flavours.md" }}
        {{ .Content }}
    {{ end }}

    <ul>
        <li>
            {{ with .Site.GetPage "page" "_landingpage/_flavours/desktop.md" }}
                {{ .Content }}
            {{ end }}
        </li>
        <li>
            {{ with .Site.GetPage "page" "_landingpage/_flavours/server.md" }}
                {{ .Content }}
            {{ end }}
        </li>
        <li>
            {{ with .Site.GetPage "page" "_landingpage/_flavours/cloud.md" }}
                {{ .Content }}
            {{ end }}
        </li>
        <li>
            {{ with .Site.GetPage "page" "_landingpage/_flavours/testing.md" }}
                {{ .Content }}
            {{ end }}
        </li>
    </ul>
</section>
