{{- $Site := .Site -}}
<section>
    {{ with $Site.GetPage "page" "_landingpage/flavours.md" }}
        {{ .Content }}
    {{ end }}

    {{- $flavours := readDir "/content/_landingpage/_flavours/" -}}
    <ul>
        {{- range $flavours }}
            <li>
                {{- $filepath := (printf "%s/%s" "_landingpage/_flavours" .Name) -}}
                {{ with $Site.GetPage "page" $filepath }}
                    {{ .Content }}
                {{ end }}
            </li>
        {{- end }}
    </ul>
</section>
