
<section class="info" id="INFO">
      <div class="container">
          <div class="row">
          <div class="text-center">
            <div class="col-lg-3  col-sm-2"><br>
               <div class="footer_override">
                <ul class="list-unstyled">
                    <li><i class="fa fa-github-square"></i> Development<li>
                    <li><a href="https://github.com/Sabayon/">About us</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="https://gitter.im/Sabayon">Gitter</a></li>
                    <li class="first leaf"><a href="https://github.com/Sabayon/" title="Sabayon Github.">Github</a></li>
                    <li class="leaf"><a href="http://eapi.sabayon.org" title="Entropy API documentation.">Entropy API Docs</a></li>
                    <li class="last leaf"><a href="https://github.com/Sabayon/sabayon-distro" title="Gitweb for overlay.git">Portage Overlay</a></li>
                </ul>
              </div>
              </div>
        <div class="col-lg-3 col-sm-2"><br>
          <div class="footer_override">
                    <ul class="list-unstyled">
                      <li><i class="fa fa-share-alt-square"></i> Social<li>
                      <li><a href="https://forum.sabayon.org/">Forum</a></li>
                      <li><a href="/chat/">Chat</a></li>
                      <li><a href="http://www.facebook.com/group.php?gid=36125411841">Facebook</a></li>
					            <li><a href="https://plus.google.com/u/1/communities/111215969224831918857">Google+</a></li>
                </ul>
              </div>
            </div>
        <div class="col-lg-3 col-sm-2"><br>
          <div class="footer_override">
                <ul class="list-unstyled">
                    <li><i class="fa fa-wrench"></i> Services<li>
                    <li class="leaf"><a href="/donate">Donate</a>&nbsp; - &nbsp;<a href="mailto:webmaster@sabayonlinux.org">Contact Us</a></li>
                    <li class="leaf"><a href="https://pastebin.sabayon.org/">Pastebin</a>&nbsp; - &nbsp;<a href="https://lists.sabayon.org/">Lists</a></li>
                    <li class="leaf"><a href="/post/">Blog Archive</a>&nbsp; - &nbsp;<a href="/releases/">Releases Archive</a></li>
                    <li class="leaf"><a href="https://wiki.sabayon.org/">Wiki</a>&nbsp; - &nbsp;<a href="/mirrors">Mirrors</a></li>
                    <li class="leaf"><a href="https://bugs.sabayon.org/">Bugs</a>&nbsp; - &nbsp;<a href="/press">Press Documentation</a></li>
                </ul>
              </div>
            </div>
        <div class="col-lg-3 col-sm-2"><br>
          <div class="footer_override">
                <ul class="list-unstyled">
                    <li><i class="fa fa-file-text"></i> Documentation<li>
                    <li class="leaf"><a href="http://wiki.sabayon.org/index.php?title=Converting" title="Helps converts from other Linux distributions">Converting to Sabayon</a></li>
                    <li class="leaf"><a href="http://wiki.sabayon.org/index.php?title=FAQ" title="Frequently Asked Questions">F.A.Q.</a>&nbsp; - &nbsp;<a href="http://wiki.sabayon.org/index.php?title=En:Introduction" title="A nice introduction to using Sabayon Linux">Introduction</a></li>
                    <li class="leaf"><a href="http://wiki.sabayon.org/index.php?title=Entropy#Fresh_Install_-_What_to_do.3F" title="First update and not sure what do do? Look here.">Fresh Install Guide</a></li>
                    <li class="leaf"><a href="http://wiki.sabayon.org/index.php?title=HOWTOs" title="These, surprisingly, show you how to do stuff.">How To Guides</a></li>
                    <li class="leaf"><a href="https://wiki.sabayon.org/index.php?title=Entropy#About_Entropy" title="About Entropy">About Entropy</a></li>
                    <li class="leaf"><a href="https://eapi.sabayon.org/" title="Entropy API">Entropy API</a></li>
                </ul>
                </div>
            </div>
          </div>
        </div>
    </div>
  </section>
<section class="copyright" id="COPYRIGHT" width="100%">
      <div class="container">
        <div class="row">
                <div class="text-center"><hr width="90%">
                &copy; 2004-2016 Sabayon Promotion (CF: 93018620224).<br>
Unless otherwise stated, content on this page is licensed under a Creative Commons Attribution-ShareAlike 3.0 License.<br>
Linux is a registered trademark of Linus Torvalds. <br> All other trademarks are the property of their respective owners.<br><br><br></div>
        </div>
      </div>
    </section>
