<style type="text/css">
    body {
        margin-top: 0px;
    }

    .btn-primary {
        margin: 1px !important;
    }

    #home h1 {
        display: inline-block;
    }

    #home a {
        position: relative;
        top: -20px;
    }

    #home p {
        margin-bottom: 230px;
        margin-bottom: 10em;
    }

    #SERVICE img {
        margin-bottom: 30px;
        margin-bottom: 2em;
    }

    #SERVICE h3 i {
        display: block;
    }

    .bold {
        font-weight: bold;
    }

    .italic {
        font-style: italic;
    }
    
    .headline-container {
        display: block;
        margin: 81px auto 0 auto;
        max-width: 100%;
        padding-left: 7.5%;
        padding-right: 7.5%;
        box-sizing: border-box;
    }

    .headline .h1 {
        display: inline-block;
    }

    .headline .link-button {
        margin: 21px 1em 10.5px 1em;
    }

    @media (min-width: 768px) {
        .jumbotron .headline .link-button {
            margin-top: 42.3667px;
            margin-bottom: 21px;
        }
    }

    .headline .h1,
    .headline .link-button {
        float: left;
    }

    .headline::after {
        content: " ";
        display: block;
        clear: both;
    }

    .headline .why-sabayon {
        text-align: left;
    }

    /* To Be Removed */
    #home a {
        position: static;
    }
    
    /* Theming */
    .headline .link-button {
        background-color: #000;
        border: 1px solid #2c3e50;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        padding: 10px 15px;
        padding: 0.6667em 1em;
        text-align: center;
        vertical-align: middle;
    }
</style>
