<div class="panel panel-default">
    <div class="panel-heading" style="padding: 2px 15px;">
        <h4><i class="fa fa-comments-o"></i>  Our Community</h4>
    </div>
    <div class="panel-body">
        You don't have to be able to code to help the <a href="https://forum.sabayon.org/">Sabayon Community</a>. There are many ways to contribute, be it your passion, your skills, your time or a monetary donation.<br>
        Sabayon is user powered, created solely on freely given user contributions, so why not help out and give back to the community?
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" style="padding: 2px 15px;">
        <h4><i class="fa fa-bullhorn"></i>  Join us on Facebook, Google+</h4>
    </div>
    <div class="panel-body">
        Meet our crazy community on <a href="http://www.facebook.com/group.php?gid=36125411841" target="_blank">Facebook</a>. Alternatively, have fun with the guys and gals on <a href="https://plus.google.com/u/1/communities/111215969224831918857" target="_blank">Google+</a>, or simply +1 us our <a href="https://plus.google.com/+sabayon" target="_blank">Google+</a> page.<br>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" style="padding: 2px 15px;">
        <h4><i class="fa fa-download"></i>  Get Sabayon </h4>
    </div>
    <div class="panel-body">
        <a href="https://www.sabayon.org/latest">
        There are many different Sabayon variants</a>. <br>Each one is designed for a specific purpose and designed to bring out the best in your hardware<br>
        We provide Live versions of most of our variants, so you can try out Sabayon without touching your Computer's Hard drive.
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" style="padding: 2px 15px;">
        <h4><i class="fa fa-file-text"></i> Documentation </h4>
    </div>
    <div class="panel-body">
        <a href="https://www.sabayon.org/latest">
            <ul class="menu">
                <li class="first leaf"><a href="http://wiki.sabayon.org/index.php?title=Converting" title="Helps converts from other Linux distributions">Converting to Sabayon</a></li>
                <li class="leaf"><a href="http://wiki.sabayon.org/index.php?title=FAQ" title="Frequently Asked Questions">F.A.Q.</a></li>
                <li class="leaf"><a href="http://wiki.sabayon.org/index.php?title=Entropy#Fresh_Install_-_What_to_do.3F" title="First update and not sure what do do? Look here.">Fresh Install Guide</a></li>
                <li class="leaf"><a href="http://wiki.sabayon.org/index.php?title=HOWTOs" title="These, surprisingly, show you how to do stuff.">How To Guides</a></li>
                <li class="last leaf"><a href="http://wiki.sabayon.org/index.php?title=En:Introduction" title="A nice introduction to using Sabayon Linux">Introduction</a></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" style="padding: 2px 15px;">
            <h4><i class="fa fa-github"></i> Development </h4>
        </div>
        <div class="panel-body">
            <a href="https://www.sabayon.org/latest">
                <ul class="menu">
                    <li class="first leaf"><a href="https://github.com/Sabayon/" title="Sabayon Github.">Github</a>
                </li>
                <li class="leaf"><a href="http://eapi.sabayon.org" title="Entropy API documentation.">Entropy API Docs</a></li>
                <li class="leaf"><a href="https://lists.sabayon.org/mailman/listinfo" title="Subscribe and unsubscribe from the various Sabayon mailing lists.">Mailing Lists</a></li>
                <li class="last leaf"><a href="http://gitweb.sabayon.org/?p=overlay.git;a=summary" title="Gitweb for overlay.git">Portage Overlay</a></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" style="padding: 2px 15px;">
            <h4><i class="fa fa-wrench"></i> Toolbox </h4>
        </div>
        <div class="panel-body">
            <a href="https://www.sabayon.org/latest">
                <ul class="menu">
                    <li class="leaf"><a href="/press"><i class="fa fa-header"></i> Press</a></li>
                    <li class="leaf"><a href="https://pastebin.sabayon.org/"><i class="fa fa-clipboard"></i> Pastebin</a></li>
                    <li class="leaf"><a href="https://lists.sabayon.org/"><i class="fa fa-envelope-o"></i> Lists</a></li>
                </ul>
            </div>
        </div>