<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button><!-- .navbar-toggle -->
            <a class="navbar-brand" href="{{ .Site.BaseURL }}">
                <img src="/img/navbar_sabayon_logo_trans.png"
                     alt="Sabayon Logo" width="135" height="35"
                     class="img-responsive" />
                <span class="sr-only">Sabayon Linux</span>
            </a><!-- .navbar-brand -->
        </div><!-- .navbar-header -->

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav pull-right">
                <li><a href="https://forum.sabayon.org/">Forum</a></li>
                <li><a href="/chat/">Support</a></li>
                <li><a href="https://wiki.sabayon.org/">Wiki</a></li>
                <li><a href="/download"> Download</a></li>
                <li><a href="https://bugs.sabayon.org/"> Bugs</a></li>
                <li><a href="https://packages.sabayon.org/">Packages</a></li>
                <li><a href="https://sabayon.github.io/community-website/">SCR</a></li>
                <li><a href="/blog/"> Blog</a></li>
            </ul><!-- .nav.navbar-nav.pull-right -->
        </div><!-- .collapse.navbar-collapse.navbar-ex1-collapse -->
    </div><!-- .container -->
</nav><!-- .navbar.navbar-default.navbar-fixed-top -->
