{{ $site := .Site }}
<section class="services" id="SERVICE">
    <div class="container">
        {{ .Content }}
        <ul class="services">
            <li class="service">
                {{ $file := "_landingpage/_features/out-of-the-box.md" }}
                {{ partial "service.html" (dict "Site" $site "file" $file) }}
            </li><!-- .service -->
            <li class="service">
                {{ $file := "_landingpage/_features/fast.md" }}
                {{ partial "service.html" (dict "Site" $site "file" $file) }}
            </li><!-- .service -->
            <li class="service">
                {{ $file := "_landingpage/_features/multiple-repositories.md" }}
                {{ partial "service.html" (dict "Site" $site "file" $file) }}
            </li><!-- .service -->
            <li class="service">
                {{ $file := "_landingpage/_features/rolling-release.md" }}
                {{ partial "service.html" (dict "Site" $site "file" $file) }}
            </li><!-- .service -->
        </ul><!-- .services -->
    </div><!-- .container -->
</section><!-- #SERVICE.services -->

<section class="services" id="SERVICE">
    <div class="container">
        <ul class="services">
            <li class="service">
                {{ $file := "_landingpage/_features/extreme-release-cycle.md" }}
                {{ partial "service.html" (dict "Site" $site "file" $file) }}
            </li><!-- .service -->
            <li class="service">
                {{ $file := "_landingpage/_features/multiple-desktop-environment.md" }}
                {{ partial "service.html" (dict "Site" $site "file" $file) }}
            </li><!-- .service -->
            <li class="service">
                {{ $file := "_landingpage/_features/customize-it.md" }}
                {{ partial "service.html" (dict "Site" $site "file" $file) }}
            </li><!-- .service -->
            <li class="service">
                {{ $file := "_landingpage/_features/arm.md" }}
                {{ partial "service.html" (dict "Site" $site "file" $file) }}
            </li><!-- .service -->
        </ul><!-- .services -->
    </div><!-- .container -->
</section><!-- #SERVICE.services -->
