{{ $site := .Site }}
<section>
    <h2>
        You are free to use, modify and redistribute it! Spread the word!
    </h2>
    <h3>Our sponsors</h3>
    <ul>
        <li>
            {{ $file := "_landingpage/_sponsors/university-of-trento.md" }}
            {{ partial "details/sponsor.html" (dict "Site" $site "file" $file) }}
        </li>
        <li>
            {{ $file := "_landingpage/_sponsors/university-of-milano-bicocca.md" }}
            {{ partial "details/sponsor.html" (dict "Site" $site "file" $file) }}
        </li>
        <li>
            {{ $file := "_landingpage/_sponsors/university-of-brescia.md" }}
            {{ partial "details/sponsor.html" (dict "Site" $site "file" $file) }}
        </li>
        <li>
            {{ $file := "_landingpage/_sponsors/top-ix.md" }}
            {{ partial "details/sponsor.html" (dict "Site" $site "file" $file) }}
        </li>
        <li>
            {{ $file := "_landingpage/_sponsors/nlnet-foundation.md" }}
            {{ partial "details/sponsor.html" (dict "Site" $site "file" $file) }}
        </li>
        <li>
            {{ $file := "_landingpage/_sponsors/trustica.md" }}
            {{ partial "details/sponsor.html" (dict "Site" $site "file" $file) }}
        </li>
    </ul>
</section>
