{{ partial "header.html" . }}
<style>
body {
margin-top: 0px;
}

.btn-primary {
  margin: 1px !important;
}

</style>
<body>
    {{ partial "navbar.html" . }}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="home">
        <div class="container">
            <div class="media">
                <!--      <a href="#" class="pull-right"><i class="fa fa-search fa-3x"></i></a> -->
                <div class="media-body">
                    <div class="col-md-11">
                      <div class="row">
                                          <h1>
                                            Sabayon <span>Linux</span>
                                                <a class="btn btn-primary btn-md" href="/download" role="button" style="font-size:20px"><i class="fa fa-download"></i> Download Sabayon</a>
                                                      <a class="btn btn-primary btn-md" href="/latest" role="button" style="font-size:20px"><i class="fa fa-newspaper-o"></i> Latest Press Release</a>
										   </h1>
                        <p>Sabayon is a beginner-friendly Gentoo-based Open Source Linux distribution.
                            We aim to deliver the best "out of the box" user experience by providing the latest open source technologies in an elegant format.
                            In Sabayon everything should just work. We offer a bleeding edge operating system that is both stable and reliable.
                        </p>
<br><br><br><br><br>
<br><br><br><br><br>

                      </div>
                    </div>
                </div>
            </div>
        </div></div>
    	<section class="services" id="SERVICE">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center">
                    <div>
					<h3>Architecture</h3>
                        <ul class="no_ul_style"><li>x86_64 Binary system that is based on Gentoo</li></ul>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div>
                        <h3>Entropy</h3>
                        <ul class="no_ul_style"><li>Package manager that handles packages built from portage</li></ul>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div>
                        <h3>Rolling Release</h3>
                        <ul class="no_ul_style"><li>Install once and stay up to date with Entropy</li></ul>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div>
					<h3>Multiple Repositories</h3>
                        <ul class="no_ul_style"><li>From testing to stable - Limbo, Main, Weekly</li></ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
		<section class="services" id="SERVICE">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center">
                    <div>
					<h3>ISO</h3>
                        <ul class="no_ul_style"><li>Daily and Monthly ISO images available</li></ul>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div>
                        <h3>DE</h3>
                        <ul class="no_ul_style"><li>Multiple Desktop Environment ISOs - KDE, Gnome, Mate, and XFCE</li></ul>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div>
                        <h3>Molecule </h3>
                        <ul class="no_ul_style"><li>Build your own Sabayon spin</li></ul>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div>
					<h3>ARM</h3>
                        <ul class="no_ul_style"><li>Support for Raspberry Pi 2</li></ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="fun_facts">
    	<section class="flavours" id="flavours" style="background-position: 50% -150px;">
	        <div class="section_overlay">
        <div class="container" id="flavours">
          <div class="row features">
          <div class="col-lg-6 text-center">
          <div class="single-fet">
          <div>
          <button type="button" class="btn btn-danger btn-circle btn-xl"><i class="fa fa-desktop fa-3x"></i></button>
          </div>
          <h2><a href="http://next.sabayon.org/desktop">Desktop</a> <span class="label label-warning">Edition</span></h2>
          <p><i>Production to Multimedia to Gaming</i></p>
             </div>
          </div>
           <div class="col-lg-6 text-center">
          <div class="single-fet">
          <div>
          <button type="button" class="btn btn-danger btn-circle btn-xl"><i class="fa fa-server fa-3x"></i></button>
          </div>
          <h2><a href="http://next.sabayon.org/server">Server</a> <span class="label label-warning">Edition</span></h2>
          <p><i>Minimalism to build to your Needs</i></p>
          </div>
          </div>
    </div>
    </div>
	</div>
    <div class="fun_facts">
    	<section class="flavours" id="flavours" style="background-position: 50% -150px;">
	        <div class="section_overlay">
          <div class="container" id="flavours">
          <div class="row features">
          <div class="col-lg-6 text-center">
          <div class="single-fet">
          <div>
          <button type="button" class="btn btn-danger btn-circle btn-xl"><i class="fa fa-cloud fa-3x"></i></button>
          </div>
          <h2><a href="http://next.sabayon.org/cloud">Cloud</a> <span class="label label-warning">Edition</span></h2>
          <p><i>Virtual Machines to Containers</i></p>
             </div>
          </div>
           <div class="col-lg-6 text-center">
          <div class="single-fet">
          <div>
          <button type="button" class="btn btn-danger btn-circle btn-xl"><i class="fa fa-flask fa-3x"></i></button>
          </div>
          <h2><a href="http://dl.sabayon.org/iso/daily/daily.html">Testing</a> <span class="label label-warning">Edition</span></h2>
          <p><i>Help find them Bugs </i><a class="btn btn-xs btn-danger" href="https://bugs.sabayon.org/" role="button"><i class="fa fa-bug"></i></a></p>
          </div>
          </div>
    </div>
    </div>
    </div>
  </section>
       <section class="screens" id="SCREENS">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <div><p></p>
					<p><a href="img/sab.png"><img src="img/sab.png" alt="screen shot" height="150" width="250"></a>&nbsp;<a href="img/sab.png"><img src="img/sab.png" alt="screen shot" height="150" width="250"></a>&nbsp;<a href="img/sab.png"><img src="img/sab.png" alt="screen shot" height="150" width="250"></a>&nbsp;<a href="img/sab.png"><img src="img/sab.png" alt="screen shot" height="150" width="250"></a></p>
                    </div>
                    </div>
                </div>
            </div>
		</section>
	</div>
    {{ partial "footer.copyright.html" . }}
    {{ partial "footer.html" . }}
