<!doctype html>
<html lang="en">
    <head>
        {{ partial "meta.html" . }}
        <!--
        {{ partial "header.includes.html" . }}
        -->
    </head>
    <body>
        <header>
            {{ partial "navbar.html" . }}
        </header>
        <main>
            {{ partial "headline.html" . }}
            {{ partial "features.html" . }}
            {{ partial "flavours.html" . }}
            {{ partial "community.html" . }}
            {{ partial "documentation.html" . }}
            {{ partial "sponsors.html" . }}
        </main>
        <footer>
            {{ partial "footer.copyright.html" . }}
            {{ partial "footer.includes.html" . }}
        </footer>
    </body>
</html>
