<ul>
    <li>
        <a href='http://dl.sabayon.org/{{ .Get "cadence" }}/Sabayon_Linux_{{ .Get "version" }}_{{ .Get "arch" }}_{{ .Get "flavour" }}.iso'>
            Download
        </a>
    </li>
    <li>
        <a href='http://dl.sabayon.org/{{ .Get "cadence" }}/Sabayon_Linux_{{ .Get "version" }}_{{ .Get "arch" }}_{{ .Get "flavour" }}.iso.torrent'>
            Torrent download
        </a>
    </li>
    <li>
        <a href='http://dl.sabayon.org/{{ .Get "cadence" }}/Sabayon_Linux_{{ .Get "version" }}_{{ .Get "arch" }}_{{ .Get "flavour" }}.iso.md5'>
            MD5
        </a>
    </li>
    <li>
        <a href='http://dl.sabayon.org/{{ .Get "cadence" }}/Sabayon_Linux_{{ .Get "version" }}_{{ .Get "arch" }}_{{ .Get "flavour" }}.iso.pkglist'>
            Package list
        </a>
    </li>
</ul>
