<p>
    <a href="https://liberapay.com/SabayonLinux/donate">
        <img src="http://img.shields.io/liberapay/goal/SabayonLinux.svg?logo=liberapay"
             alt="Goal progress on Liberapay" />
    </a>
</p>


<p>
    <script type="text/javascript"
            src="https://liberapay.com/SabayonLinux/widgets/receiving.js">
    </script>
</p>

<p>
    <script type="text/javascript"
            src="https://liberapay.com/SabayonLinux/widgets/button.js">
    </script>
    <noscript>
        <a href="https://liberapay.com/SabayonLinux/donate">
            <img src="https://liberapay.com/assets/widgets/donate.svg"
                 alt="Donate using Liberapay" />
        </a>
    </noscript>
</p>
